#cpwd_form{
    margin-top: 10%;

}
.input-text{
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    text-align: center;
    padding: 0;

}
#passinbut {
    width: 10%;
    margin-right: 45%;
    margin-left: 45%;
    text-align: center;
    height: 28px;
    margin-top: 15px;
    background-color: rgb(237, 246, 250);
}
#passinbut:hover{
    background-color:red;
    cursor: pointer;

}