@charset "utf-8";
/* CSS Document */

.content{
	padding-right: 0;
}

.mspan {
	/* background-image: url("images/onCorrect.gif"); */
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.table>thead>tr>th {
	text-align: center;
}
.table>caption {
	text-align: center;
}

.mtbody{
	vertical-align: middle;
	text-align: center;
}