body {
    margin: 0 auto;
    padding: 0;
}

* {
    padding: 0;
    margin: 0 auto;
}

.top{
	height:85px;
}
.top_wel{
	margin-left:250px;
}

.top_war{
	background-color:#FFF8F4;
	top:75px;
	width:100%;
	text-align:center;
	height:29px;
}
header {
	margin:
}

article {
    height: 475px;
    background-repeat: no-repeat;
    background-position: center;
	background-color:#F6F6F6;
}

footer {
    height: 100px;
    background-color: white;
    margin-top: 20px;
    text-align: center;
}

.login {
    background-color: white;
    float: left;
    height: 300px;
    width: 20%;
    margin-top: 90px;
    text-align: center;
}

.item {
    float: left;
    width: 90%;
    height: 40px;
    margin: 30px 5% 10px 5%;
    border: 1px solid;
}

.item input {
    float: left;
    border: none;
    width: 82%;
    height: 38px;
    padding: 0 0 0 40px;
}

.clearLabel {
    margin: 9px 10px 9px 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/pwd-icons-new.png) no-repeat 0 -140px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.img{
	width:60%;
	float:left;
	height:350px;
	margin-top:100px;
	margin-left:100px;
}